@font-face {
    font-family: semi;
    src: url(../font/KleeOne-SemiBold.ttf);
}
@font-face {
    font-family: reg;
    src: url(../font/KleeOne-Regular.ttf);
}

body {
    margin: 0;
    padding: 0 0 5%;
    background-color:ghostwhite;
}

.header {
    background-color: white;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
}
.psg {
    margin: 0 15%;
    padding: 3% 4%;
    background-color: white;
}
.bottom {
    margin: 0 15%;
}

.univ {
    font-family: 'reg';
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}
.univ>a {
    text-decoration: none;
    color: black;
}

/* a:link{
    color: blueviolet;
}
a:visited {
    color: blueviolet;
} */

.title {
    font-family: 'semi';
    font-size: 28px;
    text-align: center;
    margin: 10px 0 20px;
}

.subtitle {
    font-family: 'semi';
    font-size: 28px;
    text-align: center;
}

.navi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'semi';
    text-align: center;
    margin: 0 20%;
}
.main {
    font-size: 18px;
    width: 160px;
    height: 60px;
    line-height: 60px;
    position: relative;
    overflow: hidden;
}
.main:hover {
    background-color: rgb(241, 241, 241);
    overflow: visible;
}
.sp {
    font-family: 'reg';
    font-size: 20px;
    text-align: center;
    color: rgb(197, 197, 197);
    width: 4px;
    height: 60px;
    line-height: 60px;
}
.sub {
    font-size: 16px;
    background-color: rgb(250, 253, 255);
    position: relative;
    z-index: 999;
    overflow: hidden;
}
.sub:hover {
    background-color: rgb(246, 250, 255);
}
.inlink {
    color: black;
    text-decoration: none;
}

.lang {
    font-size: 20px;
    font-family: 'semi';
    text-align: right;
    height: 60px;
    line-height: 60px;
    padding: 0 16%;
}
.lang>a {
    color: rgb(97, 150, 208);
    text-decoration: none;
}

.cprt {
    font-size: 14px;
    font-family: 'reg';
    text-align: right;
    color: gray;
    padding: 10px;
}

h1 {
    font-family: 'semi';
    font-size: 24px;
}